<?xml version="1.0" encoding="utf-8" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/air_wrist</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

<!--    <!-Link properties->
    <gazebo reference="base_link">
      <selfCollide>false</selfCollide>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <gazebo reference="base_x">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="base_y">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="roll_cardan">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="roll_j">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
      <fudgeFactor value="0.5" />
    </gazebo>
    <gazebo reference="top_pitch">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="pitch_j">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
      <fudgeFactor value="0.5" />
    </gazebo>
    <gazebo reference="top_x">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="top_y">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="yaw_top">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="yaw_j">
      <stopKd value="1.0" />
      <stopKp value="1000000.0" />
      <fudgeFactor value="0.5" />
    </gazebo>-->

</robot>
